@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <table>

        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <form action="/Data/Customers" method="POST">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text"
                       class="form-control"
                       id="Name"
                       name="Name"
                       placeholder="Name"
                       value="Mr Gerfmans">
            </div>
            <div class="form-group">
                <label for="Country">Country</label>
                <input type="text"
                       class="form-control"
                       id="Country"
                       name="Country"
                       placeholder="Table"
                       value="Germany">
            </div>
            <button type="submit" class="btn btn-default">Post</button>
        </form>

    </div>

    <div class="col-md-4">
        <p>Get all</p>
        <form action="/Data/Customers" method="GET">
            <button type="submit" class="btn btn-default">Get</button>
        </form>
    </div>

    <div class="col-md-4">
        <p>Get filtered</p>
        <form action="/Data/Customers" method="GET">
            <div class="form-group">
                <label for="Customer">Customer</label>
                <input type="text"
                       class="form-control"
                       id="Customer"
                       name="Customer"
                       placeholder="Customer"
                       value="Siemens">
            </div>
            <button type="submit" class="btn btn-default">Get filtered</button>
        </form>
    </div>
</div>
